.clearfix {
  clear: both;
}
.header {
  width: 100%;
  background: #CCC;
  border-bottom: 2px solid #ccc;
}
.header .logo {
  font-size: 40px;
  padding: 10px 0;
  color: #fff;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  text-shadow: 2px 0 0 #eee, -2px 0 0 #eee, 0 2px 0 #eee, 0 -2px 0 #eee, 1px 1px #eee, -1px -1px 0 #eee, 1px -1px 0 #eee, -1px 1px 0 #eee;
}
.header .logo a {
  color: #fff;
  text-decoration: none;
}
.Listagem-Imoveis .Imovel-Box {
  padding: 10px;
  height: 190px;
}
.Listagem-Imoveis .Imovel-Box .Imovel-Img {
  width: 90px;
  height: 90px;
  background: #333;
  float: left;
  margin-right: 10px;
  border: 4px solid #ddd;
}
.Listagem-Imoveis .Imovel-Box .Imovel-Endereco {
  font-size: 17px;
  font-weight: bold;
  color: #333;
}
.Listagem-Imoveis .Imovel-Box .Imovel-Endereco span {
  color: #999;
  font-weight: normal;
  font-size: 14px;
  display: block;
}
.Listagem-Imoveis .Imovel-Box .Imovel-Comodos {
  color: #333;
  font-size: 13px;
  margin-top: 5px;
}
.Listagem-Imoveis .Imovel-Box .Imovel-Distancia {
  margin-top: 10px;
  color: #999;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}
.Listagem-Imoveis .Imovel-Box .Imovel-Distancia span {
  color: #666;
}
.Listagem-Imoveis .Imovel-Box .Imovel-Distancia i {
  color: #b91111;
}
.Listagem-Imoveis .Imovel-Box .Imovel-Distancia[data-distancia-status="0"] {
  display: none;
}
.Listagem-Imoveis .Imovel-Box .Imovel-Btn-Ver {
  margin-top: 10px;
  color: #fff;
  font-size: 13px;
  text-align: center;
}
.Listagem-Imoveis .Imovel-Box .Imovel-Btn-Ver a {
  font-weight: bold;
}
.Busca-Imoveis {
  margin: 10px 0px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  background: #efefef;
}
.Busca-Imoveis .msg-close,
.Busca-Imoveis .msg-open {
  cursor: pointer;
}
.Busca-Imoveis .ImoveisSugeridos {
  background: #fff;
  margin: 10px;
}
.Busca-Imoveis .ImoveisSugeridos .ImoveisSugeridos-Titulo {
  font-weight: bold;
  font-size: 20px;
  color: #a00;
  padding: 10px 15px 0 15px;
}
.Busca-Imoveis .ImoveisSugeridos .ImovelSugestao-Box {
  padding: 10px 15px 15px 15px;
}
.Busca-Imoveis .ImoveisSugeridos .ImovelSugestao-Box .Imovel-Endereco {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
.Busca-Imoveis .ImoveisSugeridos .ImovelSugestao-Box .Imovel-Endereco span {
  display: block;
  color: #888;
}
.Busca-Imoveis .ImoveisSugeridos .ImovelSugestao-Box .Imovel-Distancia {
  margin-top: 5px;
}
.Busca-Imoveis .ImoveisSugeridos .ImovelSugestao-Box .Imovel-Distancia i {
  color: #a00;
}
.Busca-Imoveis .ImoveisSugeridos .ImovelSugestao-Box .Imovel-Distancia[data-distancia-status="0"] {
  display: none;
}
.Busca-Imoveis .ImoveisSugeridos .ImovelSugestao-Box .Imovel-Btn-Ver {
  margin-top: 10px;
}
.Busca-Imoveis .BuscaImoveis-box {
  padding: 10px 0px;
  background: #fff;
  margin: 10px;
}
.Busca-Imoveis .BuscaImoveis-box .BuscaImoveis-Titulo {
  font-weight: bold;
  font-size: 20px;
  color: #a00;
  padding: 0px 15px 10px 15px;
}
.Busca-Imoveis[data-status-box="close"] .row {
  display: none;
}
.Busca-Imoveis[data-status-box="close"] .msg-close {
  display: none;
}
.Busca-Imoveis[data-status-box="open"] .msg-open {
  display: none;
}
.Busca-Imoveis[data-status-box="open"] .msg-close {
  position: relative;
  right: 30px;
  bottom: 44px;
  text-align: right;
  color: #f00;
  font-weight: bold;
  float: right;
  width: 200px;
}
.Busca-Imoveis[data-status-box="open"] .Btn-habilita-busca {
  height: 10px;
}
.Imovel-Detalhes {
  margin-top: 20px;
}
.Imovel-Detalhes .Imovel-Img {
  width: 360px;
  height: 360px;
  background: #ccc;
  float: left;
  margin-right: 20px;
  border: 5px solid #ccc;
}
.Imovel-Detalhes .Imovel-Endereco {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.Imovel-Detalhes .Imovel-Endereco span {
  display: block;
  color: #888;
}
.Imovel-Detalhes .Imovel-Comodos {
  margin-top: 10px;
}
.Imovel-Detalhes .Imovel-Distancia {
  margin-top: 10px;
}
.Imovel-Detalhes .Imovel-Distancia i {
  color: #a00;
}
.Imovel-Detalhes .Imovel-Distancia[data-distancia-status="0"] {
  display: none;
}
.Imovel-Detalhes .Imovel-Descricao {
  margin-top: 10px;
}
.Imovel-Detalhes .Imovel-Btn-Alugar {
  margin-top: 10px;
}
.Imovel-Detalhes .Imovel-Btn-Voltar {
  margin-top: 10px;
}
