.clearfix{
  clear:both;
}
.header{
  width:100%;
  background:#CCC;
  border-bottom:2px solid #ccc;
  .logo{
    font-size:40px;
    padding:10px 0;
    color:#fff;
    font-weight:bold;
    margin: 0 auto;
    text-align: center;
    text-shadow: 2px 0 0 #eee, -2px 0 0 #eee, 0 2px 0 #eee, 0 -2px 0 #eee, 1px 1px #eee, -1px -1px 0 #eee, 1px -1px 0 #eee, -1px 1px 0 #eee;
    a{
      color:#fff;
      text-decoration:none;
    }
  }
}

.Listagem-Imoveis{
  .Imovel-Box{
    // border:3px solid #efefef;
    padding:10px;
    height: 190px;
    .Imovel-Img{
      width:90px;
      height:90px;
      background:#333;
      float:left;
      margin-right:10px;
      border:4px solid #ddd;
    }
    .Imovel-Endereco{
      font-size:17px;
      font-weight:bold;
      color:#333;
      span{
        color:#999;
        font-weight:normal;
        font-size:14px;
        display:block;
      }
    }
    .Imovel-Comodos{
      color:#333;
      font-size:13px;
      margin-top:5px;
    }
    .Imovel-Distancia{
      margin-top:10px;
      color:#999;
      font-weight:bold;
      font-size:13px;
      text-align:center;
      span{
        color:#666;
      }
      i{
        color:#b91111;
      }
    }
    .Imovel-Distancia[data-distancia-status="0"]{
      display:none;
    }
    .Imovel-Btn-Ver{
      margin-top:10px;
      color:#fff;
      font-size:13px;
      text-align:center;
      a{
        font-weight:bold;
      }
    }
  }
}

.Busca-Imoveis{
  margin:10px 0px;
  border-bottom:1px solid #ccc;
  padding:10px;
  background:#efefef;
  .msg-close, .msg-open{
    cursor:pointer;
  }
  .ImoveisSugeridos{
    background:#fff;
    margin:10px;
    .ImoveisSugeridos-Titulo{
      font-weight:bold;
      font-size:20px;
      color:#a00;
      padding:10px 15px 0 15px;
    }
    .ImovelSugestao-Box{
      padding:10px 15px 15px 15px;
      .Imovel-Endereco{
        font-size:14px;
        font-weight: bold;
        color:#333;
        span{
          display:block;
          color:#888;
        }
      }
      .Imovel-Distancia{
        margin-top:5px;
        i{
          color:#a00;
        };
      }
      .Imovel-Distancia[data-distancia-status="0"]{
        display:none;
      }
      .Imovel-Btn-Ver{
        margin-top:10px;
      }
    }
  }
  .BuscaImoveis-box{
    padding: 10px 0px;
    background: #fff;
    margin: 10px;
    .BuscaImoveis-Titulo{
      font-weight:bold;
      font-size:20px;
      color:#a00;
      padding:0px 15px 10px 15px;
    }
  }
}
.Busca-Imoveis[data-status-box="close"]{
  .row{
    display:none;
  }
  .msg-close{
    display:none;
  }
}
.Busca-Imoveis[data-status-box="open"]{
  .msg-open{display:none;}
  .msg-close{
    position: relative;
    right: 30px;
    bottom: 44px;
    text-align: right;
    color:#f00;
    font-weight:bold;
    float:right;
    width:200px;
  }
  .Btn-habilita-busca{
    height:10px;
  }
}

.Imovel-Detalhes{
  margin-top:20px;
  .Imovel-Img{
    width: 360px;
    height: 360px;
    background:#ccc;
    float: left;
    margin-right: 20px;
    border:5px solid #ccc;
  }
  .Imovel-Endereco{
    font-size:20px;
    font-weight: bold;
    color:#333;
    span{
      display:block;
      color:#888;
    }
  }
  .Imovel-Comodos{
    margin-top:10px;
  }
  .Imovel-Distancia{
    margin-top:10px;
    i{
      color:#a00;
    };
  }
  .Imovel-Distancia[data-distancia-status="0"]{
    display:none;
  }
  .Imovel-Descricao{
    margin-top:10px;
  }
  .Imovel-Btn-Alugar{
    margin-top:10px;
  }
  .Imovel-Btn-Voltar{
    margin-top:10px;
  }
}
