.clearfix{
  clear:both;
}
.header{
  width:100%;
  background:#F01A1A;
  border-bottom:2px solid #ccc;
  .logo{
    font-size:40px;
    padding:10px 0;
    color:#ffffff;
    font-weight:bold;
    float:left;
  }
  .menu{
    position:relative;
    float:right;
    .op{
      float:left;
      font-size: 17px;
      font-weight:bold;
      color:#fff;
      a{
        color:#fff;
        text-decoration:none;
        padding:26px 10px;
        display:block;
      }
    }
  }
}
.content{
  .boasvindas-msg{
    font-size:60px;
    color:#dddddd;
    font-weight:bold;
    text-align:center;
    margin-top:10%;
    .boasvindas-logo{
      color:#F01A1A;
    }
  }
}

.CadastroContent{
  margin-top:20px;
}

.ListagemImoveis{
  margin-top:20px;
  th{
    background:#333333;
    color:#ffffff;
  }
  a{
    .fa-pencil{
      color:#F5B00F;
      font-size:20px;
      text-decoration:none
    }
    .fa-close{
      color:#DE0404;
      font-size:20px;
      text-decoration:none;
      cursor: pointer;
    }
  }
  .ListagemImoveis-tag-status{
    padding:5px 5px;
    border: 1px solid;
    float:left;
  }
  .ListagemImoveis-tag-status[data-status="Disponivel"]{
    color:#ffffff;
    background:#F2E013;
  }
  .ListagemImoveis-tag-status[data-status="Alugado"]{
    color:#ffffff;
    background:#139C3E;
  }
}
